/*============theme=========*/

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$danger: #c8553d;
$success: #588b8b;
$primary: #ffd5c2;
$secondary: #93b7be;
$warning: #f28f3b;
$info: #8ab17d;
$dark: #2d3047;
$light: #ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "info": $info,
  "dark": $dark,
  "light": $light,
);

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap/scss/mixins.scss";
@import "~bootstrap/scss/variables.scss";

.blogs {
  position: sticky !important;
  top: 80px;
}
