@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background: white;
  padding: 5px 6px;
  border-radius: 10px;
  color: #073b4c;
  transition: all 250ms;
}

.card {
  height: auto;
  padding: 10px 15px;
  border: 1px solid #073b4c;
  box-shadow: 15px 15px 0 rgba(0, 0, 0, 1);
  background-color: #fff;
  margin: 2rem 0;
}

.form-group{
  margin-bottom: 10px;
}

.form-label{
  display: block;
}